{% extends "base.html" %}
{% block title %}
    Мои туры
{% endblock title %}
{% block content %}
    <h2>Мои туры</h2>
    {% if booking %} <!-- если есть бронирование -->
        <table border="2" class="content" style="border-collapse: collapse;">
            <tr>
                <th>Тур</th>
                <th style="width:20%">Статус</th>
            </tr>
            {% for tour_info in booking %}
                <tr>
                    <td>
                        <a href="/Travel/tour/{{ tour_info.tour.id }}" title="Нажмите, чтобы перейти к туру">
                            {{ tour_info.tour.name }}, {{tour_info.tour.date}}
                        </a>
                    </td>
                    <td>
                        {% if not tour_info.approved and not tour_info.cancel %}
                           Ожидается подтверждение заяки менеджером.<br>
							<form action="/Travel/delete_booking_tour/{{tour_info.tour.id}}">
								<input type="submit" value="Отменить бронирование">
							</form>
                        {% elif tour_info.approved %}
                            <button>Оплатить</button><br>
                            <form action="/Travel/delete_booking_tour/{{tour_info.tour.id}}">
                                <input type="submit" value="Отменить заказ">
                             </form>
                        {% else %}
                            Отменено
                            <br>
                            {{tour_info.message}}.
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %} <!-- Иначе -->
        <h3>Пока, вы не забронировали ни один тур.</h3>
    {% endif %}
{% endblock content %}