{% extends "base.html" %}
{% block title %}
	Туры
{% endblock %}
{% block content %}
	<h2 align="center">
		Туры
	</h2>
	{% for city in cities %}
		{% for tour in city.tour_set.all %}
			{% if tour.hotel is None %}
                {% if tour.discount > 0 %}
					<a href="/Travel/tour/{{ tour.id }}" title="Нажмите чтобы узнать подробнее">
						<font color="red">
							<i style="font-size:20px;">Акция! </i>
							{{ tour.name }}, г. {{ city.name }}, {{ tour.tour_type }} тур, {{ tour.tour_date }}, дней: {{tour.tour_days}}.
						</font>
						<br>
					</a>
                {% else %}
					<a href="/Travel/tour/{{ tour.id }}" title="Нажмите чтобы узнать подробнее">
						{{ tour.name }}, г. {{ city.name }}, {{ tour.tour_type }} тур, {{ tour.tour_date }}, дней: {{tour.tour_days}}.
						<br>
					</a>
                {% endif %}
			{% else %}
                {% if tour.discount > 0 %}
					<a href="/Travel/tour/{{ tour.id }}" title="Нажмите чтобы узнать подробнее">
						<font color="red">
							<i style="font-size:20px;">Акция! </i>
							{{ tour.name }}, г. {{ city.name }}, {{ tour.tour_type }} тур, {{ tour.tour_date }}, дней: {{tour.tour_days}}, {{ tour.hotel.name }}, звезд: {{tour.hotel.comfort}}. 
						</font>
						<br>
					</a>
                {% else %}
					<a href="/Travel/tour/{{ tour.id }}" title="Нажмите чтобы узнать подробнее">
						{{ tour.name }}, г. {{ city.name }}, {{ tour.tour_type }} тур, {{ tour.tour_date }}, дней: {{tour.tour_days}}, {{ tour.hotel.name }}, звезд: {{tour.hotel.comfort}}.
						<br>
					</a>
                {% endif %}
			{% endif %}
		{% endfor %}
	{% endfor %}
{% endblock %}