{% extends 'base.html' %}
{% block title %}
	Главная
{% endblock %}
{% block content %}
	{% if user.is_anonymous %}
		<h2>Добро пожаловать гость!</h2>
		Для того, чтобы отправиться в путешествие вам необходимо выполнить 5 простых условий: 
		<ul>
			<li>
				1) Зарегистрироваться заполнив простую форму.<br>
				2) Выбрать имеющийся тур из каталога.<br>
				3) Забронировать тур.<br>
				4) Дождаться подтверждения бронирования.<br>
				5) Оплатить тур и наслаждаться отдыхом.
			</li>
		</ul>
	{% elif user.tourist %}
		<h2>Здравствуйте {{user.first_name}} {{user.last_name}}!</h2>
	{% else %}
	{% endif %}
{% endblock %}