{% extends 'base.html' %}
{% block title %}
	Главная
{% endblock %}
{% block content %}
	{% if user.is_anonymous %}
		<h2>Добро пожаловать гость!</h2>
		Для того, чтобы отправиться в путешествие вам необходимо выполнить 5 простых условий: 
		<ul>
			<li>
				1) Зарегистрироваться заполнив простую форму.<br>
				2) Выбрать имеющийся тур из каталога.<br>
				3) Забронировать тур.<br>
				4) Дождаться подтверждения бронирования.<br>
				5) Оплатить тур.
			</li>
		</ul>
	{% elif user.tourist %}
		<h2>Здравствуйте {{user.first_name}} {{user.tourist.patronymic}}!</h2>
		<i style="font-size: 16px;"><b>Турфирма «ОстровОК-Тур» готова предложить вам туры в большинство городов России. Круглый год мы предлагаем туры со скидками, завоевавшими признание миллионов туристов.
		У нас вы сможете найти туры на любой вкус.
		Мы рекомендуем туры в Геленджик, Анапу, Сочи, где вы можете испытать насыщенный и зажигательный отдых. Сторонникам мягкого климата, теплого моря и пляжей турфирма ОстровОК-Тур» и для романтичного отдыха с вашей второй половинкой лучше всего подойдет тур в Санкт-Петербург.
		Турфирма «ОстровОК-Тур» — находка для желающих отдохнуть комфортно и со вкусом.
		Мы знаем, как сделать ваш отдых приятным, полезным и насыщенным! Обращаясь в офис нашей турфирмы вы поручаете свой отдых профессионалам. Мы подберем максимально соответствующий вашим запросам тур, который подарит массу положительных эмоций и незабываемых впечатлений.
		Выберите тип отдыха, который вам по душе!</b></i>
	{% else %}
	{% endif %}
{% endblock %}