{% extends "base.html" %}
{% block title %}
    Мой профиль
{% endblock title %}
{% block content %}
    <h2 align='center'>Мой профиль</h2>
    <table border="2" class="content" style="border-collapse: collapse; width: 30%">
        <tr>
            <th style="padding: 5px;" align="left">Фамилия:</th>
            <td style="width: 60%;">
                {{user.last_name}}
            </td>
        </tr>
        <tr>
            <th style="padding: 5px;" align="left">Имя:</th>
            <td style="width: 60%;">
                {{user.first_name}}
            </td>
        </tr>
        <tr>
            <th style="padding: 5px;" align="left">Отчество:</th>
            <td style="width: 60%;">
                {{request.user.tourist.patronymic}}
            </td>
        </tr>
        <tr>
            <th style="padding: 5px;" align="left">Номер телефона:</th>
            <td style="width: 60%;">
                {{request.user.tourist.mobile_phone}}
            </td>
        </tr>
        <tr>
            <th style="padding: 5px;" align="left">Почта:</th>
            <td style="width: 60%;">
                {{user.email}}
            </td>
        </tr>
        <tr>
            <th colspan="2">
                <button style="width: 100%;">
                    <a href="{% url 'change_my_profile' %}">Изменить</a>
                </button>
            </th>
        </tr>
    </table>
{% endblock content %}