{% extends "base.html" %}
{% block title %}
    Мой профиль
{% endblock title %}
{% block content %}
    <h2>Мой профиль</h2>
    <table border="2" align='center' style="border-collapse: collapse; width: 30%">
        <tr>
            <th>Фамилия:</th>
            <td style="width: 60%;">
                {{user.last_name}}
            </td>
        </tr>
        <tr>
            <th>Имя:</th>
            <td style="width: 60%;">
                {{user.first_name}}
            </td>
        </tr>
        <tr>
            <th>Отчество:</th>
            <td style="width: 60%;">
                {{request.user.tourist.patronymic}}
            </td>
        </tr>
        <tr>
            <th>Номер телефона:</th>
            <td style="width: 60%;">
                {{request.user.tourist.phone}}
            </td>
        </tr>
        <tr>
            <th>Почта:</th>
            <td style="width: 60%;">
                {{user.email}}
            </td>
        </tr>
        <tr>
            <th colspan="2">
                <a href="{% url 'change_profile' %}">
                    <button style="width: 100%;">Изменить</button>
                </a>
            </th>
        </tr>
    </table>
{% endblock content %}