{% extends "base.html" %} 
{% block title %} 
  {{tour.name}}
{{ index.title }} 
{% endblock %} 
{% block content %}
    <table border="2" class="content" style="border-collapse: collapse;">
        <tr>
            <td colspan="6" align="center" style="padding:0%">
                <h3>{{ tour.name }}</h3>
            </td>
        </tr>
        <tr>
            <th colspan="6" style="text-align:center">
                Описание
            </th>
        </tr>
        <tr>
            <td colspan="6">
                {{tour.tour_description}}
            </td>
        </tr>
        <tr>
            <th style="text-align:center">
                Гостиница
            </th>
            <th style="text-align:center">
                Дата заезда
            </th>
            <th style="text-align:center">
                Дней
            </th>
            <th style="text-align:center">
                Стоимость
            </th>
            <th style="text-align:center">
                Забронировать
            </th>
        </tr>
        <tr>
            <td>
                {{tour.hotel}}
            </td>
            <td>
                {{tour.date}}
            </td>
            <td align="center">
                 {{tour.days}}
            </td>
            <td>
                {{tour.price}}руб.
            </td>
            <td align="center">
                {% if not request.user.is_authenticated %}
                    <form action="{% url 'login' %}">
                        <p align="left">Войдите что бы забронировать тур</p>
                        <input type="submit" value = "Войти">
                    </form>
                {% else %}
                    {% if booking %}
                        {% if not booking.approved %}
                            <p>Ожидается подтверждение</p>
                        {% else %}
                        <div>
                            <button>Оплатить</button>
                        </div>
                        <form action="/Travel/delete_booking_tour/{{tour.id}}">
                            <br>
                            <input type="submit" value="Отменить">
                        </form>
                        {% endif %}
                    {% else %}
                        <form action="/Travel/add_booking_tour/{{tour.id}}">
                            <input type="submit" value="Забронировать">
                        </form>		
                    {% endif %}
                {% endif %}
            </td>
        </tr> 
    </table>
{% endblock %}