<!DOCTYPE html>
<html>
<head>
	<title>
		{% block title %} {% endblock %}
	</title>
	<meta charset="utf-8">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body style="margin: 0;">
	<div class="bg">
		<h2 class="content" align="right" style="padding-top: 60px;">
			8 (888) 765-43-21
		</h2>
	</div>
	<div class="content">
		<ul class="menu">
			{% block branding %}
				<li>
					<a href="/Travel">ОстровОК тур</a>
				</li>
			{% endblock %}
			{% if Travel %}
				<li class="active">
					<a href="/Travel">Главная</a>
				</li>
			{% else %}
				<li>
					<a href="/Travel">Главная</a>
				</li>
			{% endif %}
			{% if regions %}
				<li class="active">
					<a href="/Travel/regions">Регионы</a>
				</li>
			{% else %}
				<li>
					<a href="/Travel/regions">Регионы</a>
				</li>
			{% endif %}
			<li>
				<a href="#">Туры по Вятке</a>
			</li>
			<li>
				<a href="#">Автобусные туры</a>
			</li>
			{% if user.is_authenticated %}
				{% if user.is_staff %}
					<li>
						<a href="/Travel/admin/">Администрация</a>
					</li>
				{% endif %}
				<li style="float: right;">
					<a href="{% url 'logout' %}">
						<span class="glyphicon glyphicon-log-out"></span>
						Выйти
					</a>
				</li>
			{% else %}
				{% if not Travel and not regions %}
					<li class="active" style="float: right;">
						<a href="{% url 'login' %}">
							<span class="glyphicon glyphicon-log-in"></span>
							Войти
						</a>
					</li>
				{% else %}
					<li style="float: right;">
						<a href="{% url 'login' %}">
							<span class="glyphicon glyphicon-log-in"></span>
							Войти
						</a>
					</li>
				{% endif %}
			{% endif %}
		</ul>
		{% block content %} {% endblock %}
	</div>
</body>
</html>