.bg{
	background: linear-gradient(
		rgba(255,255,255,0.75),
		rgba(255,255,255,0.75)),
		url(ostrovok.jpg);
	height: 175px;
}

.content{
	margin: 0 auto;
	width: 70%;
}

a{
	text-decoration: none;
	font-size: 18px;
	color: #555;
}

ul{
	list-style-type: none;
}

.menu{
	background-color: #f5f5f5;
	padding: 5px;
}

.menu ul li{
	line-height: 30px;
	padding: 10px;
}

.menu ul > li:hover{
	background-color: #e7e7e7;
}

.menu ul ul > li:hover{
	background-color: #e7e7e7;
}

.menu ul li, .menu ul{
	display: inline-block;
}

.menu ul{
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
	display: inline;
}

.menu ul ul{
	display: none;
	position: absolute;
	background-color: #f5f5f5;
	margin-top: 10px;
}

.menu ul a{
	color: #555;
	text-decoration: none;
}

.menu ul ul a{
	color: #555;
	text-decoration: none;
}

.menu li:hover ul{
	display: block;
}

.menu li:hover li{
	display: block;
}

.active{
	background-color: #e3e3e3
}

td{
	padding: 5px;
}

th{
	padding: 5px;
}
