table {
	width: 50%
}
.tdata {
	min-height: 20px
}
.title {
	text-align: center;
}

.bg {
    margin: 0;
    border: none;
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    height: 175px;
    min-height: 0;
    background: linear-gradient(rgba(255,255,255,0.85), rgba(255,255,255,0.85)), url(ostrovok.jpg) left 0px top 0px / auto auto repeat;
    max-width: 100%;
    z-index: 11;
    text-align: center;
    display: block;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    right: 0;
    padding-top: 50px;
    padding-bottom: 60px;
}

.logo{
    width: 205px;
    background: url(logo.jpg);
}