{% extends "base.html" %} 
{% block title %} 
  ОстровОк Тур 
{{ index.title }} 
{% endblock %} 
{% block content %}
	{% for tour in tour %}
        <h3>{{ tour.name }}</h3>
        <p>
            {{tour.text}}
        </p>
	{% endfor %}
	{% if request.user.is_authenticated %}
        <form>
            <input type="submit" value="Забронировать" type="hidden">
        </form>		
    {% else %}
        <form action="/Travel/login/">
            <input type="submit" value = "Войти" type = "hidden"/>
            <p>Войдите что бы забронировать тур</p>
        </form>
    {% endif %}
{% endblock %}