{% extends "base.html" %}
{% block title %}
    Мой профиль
{% endblock title %}
{% block content %}
    <h2>Мой профиль</h2>
    <table border="2" class="content" style="border-collapse: collapse; width: 30%">
        <form method="post">
            {% csrf_token %}
            <tr>
                <th>Фамилия:</th>
                <td style="width: 60%;">
                    <input type="text" name="last_name" value="{{user.last_name}}" class="change"> 
                </td>
            </tr>
            <tr>
                <th>Имя:</th>
                <td style="width: 60%;">
                    <input type="text" name="first_name" value="{{user.first_name}}" class="change">
                </td>
            </tr>
            <tr>
                <th>Отчество:</th>
                <td style="width: 60%;">
                    <input type="text" name="patronymic" value="{{request.user.tourist.patronymic}}" class="change">
                </td>
            </tr>
            <tr>
                <th>Номер телефона:</th>
                <td style="width: 60%;">
                    <input type="text" name="phone" value="{{request.user.tourist.phone}}" class="change">
                </td>
            </tr>
            <tr>
                <th>Почта:</th>
                <td style="width: 60%;">
                    <input type="email" name="email" value="{{user.email}}" class="change">
                </td>
            </tr>
            <tr>
                <th colspan="2">
                    <input type="submit" value="Сохранить" style="width: 100%; height: 100%; cursor:pointer;">
                </th>
            </tr>
        </form>
    </table>
{% endblock content %}