{% extends "base.html" %}
{% block title %}
    Мой профиль
{% endblock title %}
{% block content %}
    <h2 align='center'>Мой профиль</h2>
    <table border="2" class="content" style="border-collapse: collapse; width: 30%">
        <form method="post">
            {% csrf_token %}
            <tr>
                <th style="padding: 5px;" align="left">Фамилия:</th>
                <td style="width: 60%;">
                    <input type="text" name="last_name" value="{{user.last_name}}" style="width: 100%; border:none; outline:none; font-size: 14px; cursor:pointer;"> 
                </td>
            </tr>
            <tr>
                <th style="padding: 5px;" align="left">Имя:</th>
                <td style="width: 60%;">
                    <input type="text" name="first_name" value="{{user.first_name}}" style="width: 100%; border:none; outline:none; cursor:pointer;">
                </td>
            </tr>
            <tr>
                <th style="padding: 5px;" align="left">Отчество:</th>
                <td style="width: 60%;">
                    <input type="text" name="patronymic" value="{{request.user.tourist.patronymic}}" style="width: 100%; border:none; outline:none; cursor:pointer;">
                </td>
            </tr>
            <tr>
                <th style="padding: 5px;" align="left">Номер телефона:</th>
                <td style="width: 60%;">
                    <input type="text" name="mobile_phone" value="{{request.user.tourist.mobile_phone}}" style="width: 100%; border:none; outline:none; cursor:pointer;">
                </td>
            </tr>
            <tr>
                <th style="padding: 5px;" align="left">Почта:</th>
                <td style="width: 60%;">
                    <input type="email" name="email" value="{{user.email}}" style="width: 100%; border:none; outline:none; cursor:pointer;">
                </td>
            </tr>
            <tr>
                <th colspan="2" style="height: 27px;">
                    <input type="submit" value="Сохранить" style="width: 100%; height: 100%; cursor:pointer;">
                </th>
            </tr>
        </form>
    </table>
{% endblock content %}