{% extends 'base.html' %}
{% block title %}
	Авторизация
{% endblock %}
{% block content %}
	<h2 align="center">
		Авторизация
	</h2>
	<table align="center">
		<form method="POST" action="{% url 'login' %}">
			{% csrf_token %}
			<tr>
				<td align="center">
					<label>Логин:</label>
					<br>
					<input type="text" name="username" placeholder="Введите логин">
				</td>
			</tr>
			<tr>
				<td align="center">
					<label>Пароль:</label>
					<br>
					<input type="password" name="password" placeholder="Введите пароль">
				</td>
			</tr>
			<tr>
				<td align="center">
					{% if form.errors %}
						<p>
							<font color="red">
								Неверный логин или пароль!
							</font>
						</p>
					{% endif %}
				</td>
			</tr>
			<tr>
				<td>
					<input type="submit" value="Войти">
					<a href="{% url 'signup' %}">Зарегистрироваться</a>
				</td>
			</tr>
		</form>
	</table>
{% endblock %}