{% extends "base.html" %}
{% block title %}
	Войти
{% endblock %}
{% block content %}
	<table align="center">
		<form method="POST" action="{% url 'login' %}">
			{% csrf_token %}
			<tr>
				<td align="center">
					<label>Логин:</label>
					<br>
					<input type="text" name="username" placeholder="Введите логин">
				</td>
			</tr>
			<tr>
				<td align="center">
					<label>Пароль:</label>
					<br>
					<input type="password" name="password" placeholder="Введите пароль">
					<br>
				</td>
			</tr>
			<tr>
				<td align="center">
					{% if form.errors %}
						<p align="center">
							<font color="red" size="4">
								Не верный логин или пароль!
							</font>
						</p>
					{% endif %}
					<input type="submit" value="Войти">
					<a href="/Travel/signup/">Зарегистрироваться</a>
				</td>
			</tr>
		</form>
	</table>
{% endblock %}