html {
    overflow: scroll;
  }
header, main, footer {
    max-width: 500px;
    margin: 0 auto;
    border-left: 1px solid green;
    border-right: 1px solid green;
}

.bg {
	background: linear-gradient(
		rgba(255,255,255,0.75),
		rgba(255,255,255,0.75)),
        url(ostrovok.jpg);
	height: 180px;
}

.navbar-default {
    box-shadow: 5px 3px 5px 0px rgba(0,0,0,0.31);
}

.content {
    width: 70%;
    padding: 10px;
    margin: 0 auto;
}

.info-table {
    height: 100%; 
    width: 70%;
    margin: 0 auto;
}

.navbar-brand {
    width: 200px;
    background: url(logo.jpg);
}

.phone {
    float: right;
    text-align: right;
    vertical-align: center;
}

ul {
    list-style-type: none;
}

.form-group {
	margin-bottom: 15px;
}
			   
input, input::-webkit-input-placeholder {
    font-size: 14px;
    padding-top: 3px;
}
			   
.form-control {
    height: auto;
    font-size: 14px;
    padding: 8px 12px;
}
			   
.input-group {
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21);
}

.icons {
    width: 16px;
    height: 16px;
}
			   
#button {
    border: 1px solid #ccc;
    margin-top: 28px;
    padding: 6px 12px;
    color: #666;
    text-shadow: 0 1px #555;
    cursor: pointer;
    border-radius: 3px 3px;
    box-shadow: 0 1px #fff inset, 0 1px #ddd;
    background: #f5f5f5;
    background: -moz-linear-gradient(top, #555 0%, #eeeeee 100%);
    background: -webkit-linear-gradient(top, #555 0%, #eeeeee 100%);
    background: -o-linear-gradient(top, #555 0%, #eeeeee 100%);
    background: -ms-linear-gradient(top, #555 0%, #eeeeee 100%);
    background: linear-gradient(top, #555 0%, #eeeeee 100%);
}
			   
.main-form {
    margin-top: 30px;
    margin: 0 auto;
    max-width: 400px;
    padding: 10px 40px;
    background:#f5f5f5;
    color: #555;
    text-shadow: none;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
}
			   
span.input-group-addon {
    color: #555;
    font-size: 17px;
}

.fa-info:hover {
    color: blue;
}

.fa-info:active {
    color: royalblue;
}

i {
    height: 17px;
    width: 17px;
}
			   
.login-button {
    margin-top: 5px;
    color: #444;
}

.btn-primary {
    background-color: #e1e1e1;
    border-color: #444;
}

.btn-primary:hover {
    border-color: #e1e1e1;
    color: #e1e1e1;

}

.err {
    color: red;
}
				  
.medium-pass {
    color: orange;
}
				  
.hard-pass {
    color: yellowgreen;
}
				  
.strong-pass {
    color: green;
}

.errorlist {
    margin-left: 0;
    padding: 0;
    color: red;
}

.login {
    border-radius: 10px;
    outline: none;
    border-color: #e3e3e3;
}

.label {
    font-size: 12px;
    margin-bottom: 15px;
}

.dropdown-menu, .dropdown-menu > .active > a:hover{
    color: #555;
    background-color: #f5f5f5;
}

.dropdown-menu > .active > a{
    color: #555;
    background-color: #e7e7e7;
}

.form-control[disabled] {
    cursor: default;
}

@media (min-width: 320px) and (max-width: 425px) {
    .bg {
        height: 100px; 
    	background: linear-gradient(
	    	rgba(255,255,255,0.75),
    		rgba(255,255,255,0.75)),
            url(ostrovok-mobile.jpg);
    }

    #clock, .info {
        font-size: 14px;
        padding-left: 3px;
        padding-right: 3px;
    }
} 

@media (min-width: 425px) {
    .dropdown {
        width: 160px;
    }
    
    .dropdown-menu {
        padding-top: 10px;
    }
}

@media (min-width: 320px) and (max-width: 1166px) {
    .content, .info-table {
        width: 100%;
    }

    .main-form {
        padding: 10px 15px;
    }

    .info-table td {
        padding: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1166px) {
    .navbar-brand {
        height: 50px;
        width: 140px;
        background: url(logo-mobile.jpg);
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .content, .info-table {
        width: 100%;
    }
}

@media (min-width: 2560px) {
    .navbar-default .navbar-nav > li > a {
        font-size: 18px;
    }
    .dropdown {
        width: 200px;
    }

    .dropdown > ul {
        font-size: 16px;
        width: 200px;
    }
}